{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.translations) }} 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% include 'SistemaAdministracionBundle:galeria:form-imagenes.html.twig' with { 'form' : form } %}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/collection.js') }}"></script>
{% endblock %}
