{% block title %}
    <title>Hoteles fabi - buenos hoteles</title>
{% endblock title %}

{% block sheetstyle %}
    <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="{{ asset('bundles/app/css/style.css') }}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('bundles/app/css/nav.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/app/fonts/css/font-awesome.min.css') }}">

    <link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock sheetstyle %}

{% block javascript %}
	
	<script type="text/javascript" src="{{ asset('bundles/app/js/modernizr.custom.js') }}"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/app/js/jquery.openCarousel.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/app/js/fwslider.js') }}" type="text/javascript"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/jquery.flexisel.js') }}"></script>
	    <script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
		    $('#slider').fwslider({
		        auto:     true,  //auto start
		        speed:    300,   //transition speed
		        pause:    4000,  //pause duration
		        panels:   5,     //number of image panels
		        width:    1680,
		        height:   500,
		        nav:      true   //show navigation
		    });
		});
		</script>		
	<script src="{{ asset('bundles/app/js/wow.min.js') }}"></script>
		<script>
			 new WOW().init();
		</script>
		<script>
			$(function() {
		    var button = $('#loginButton');
		    var box = $('#loginBox');
		    var form = $('#loginForm');
		    button.removeAttr('href');
		    button.mouseup(function(login) {
		        box.toggle();
		        button.toggleClass('active');
		    });
		    form.mouseup(function() { 
		        return false;
		    });
		    $(this).mouseup(function(login) {
		        if(!($(login.target).parent('#loginButton').length > 0)) {
		            button.removeClass('active');
		            box.hide();
		        }
		    });
		});
	   </script>
     <script type="text/javascript">
        $(window).load(function() {
          $("#flexiselDemo3").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,        
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
              responsiveBreakpoints: { 
                portrait: { 
                  changePoint:480,
                  visibleItems: 1
                }, 
                landscape: { 
                  changePoint:640,
                  visibleItems: 2
                },
                tablet: { 
                  changePoint:768,
                  visibleItems: 2
                }
              }
            });
        });
    </script>
{% endblock javascript %}

{% block menu %}
    <div class="header">    
        <div class="header_top">
            <div class="container">
                <div class="headertop_nav">
                    <ul>
                        <li><a href="{{ path('change_language',{lang : ES}) }}">Es</a> /</li>
                        <li><a href="{{ path('change_language',{lang : EN}) }}">En</a> /</li> 
                        <li><a href="{{ path('change_language',{lang : PT}) }}">Pt</a> /</li>  
                    </ul>
                </div>
                <div class="header-top-right">
                    <div class="login_box">
                        <div id="loginContainer">
                            <a id="loginButton" class="active"><span class="active"><i class="search-icon"></i>{{ 'menu.buscar'|trans({},"AppBundle") }}</span></a>               
                            <div id="loginBox">                
                                <form id="loginForm">
                                    <div class="search_box">
                                        <input type="text" value="{{ 'menu.buscar'|trans({},"AppBundle") }}" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                    this.value = '{{ 'menu.buscar'|trans({},"AppBundle") }}';
                                                }">
                                        <input type="submit" value="">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="container">	 			
            <div class="logo">
                <h1><a href="{{ path('homepage') }}">Vintage<span>Restaurant</span></a></h1>
            </div>				
            <div class="navigation">	
            </div>
            <label class="mobile_menu" for="mobile_menu">
                <span>Menu</span>
            </label>
            <input id="mobile_menu" type="checkbox">
            <ul class="nav">
                <li><a href="{{ path('homepage') }}">{{ 'menu.home'|trans({},"AppBundle") }}</a></li>
                <li><a href="{{ path('reservation') }}">{{ 'menu.recervaciones'|trans({},"AppBundle") }}</a></li>
                <li><a href="{{ path('about') }}">{{ 'menu.sobreNosotros'|trans({},"AppBundle") }}</a></li>                
                <li><a href="{{ path('contact') }}">{{ 'menu.contacto'|trans({},"AppBundle") }}</a></li>
                    {{ render(controller('SistemaAdministracionBundle:Seccion:menu')) }}
                <div class="clearfix">
                </div>
            </ul>
        </div>			
    </div>
    <div class="clearfix">
    </div>		   
</div>
</div>	
</div>
{% endblock menu%}

{% block page %}{% endblock page %}

{% block footer %}
    <div class="footer">
        <div class="container">   	 
           	<div class="footer_top">
           	 	<div class="row">
           	 	   <div class="col-md-4 footer_grid">
           	 			<h4>Receive our Newsletter</h4>
           	 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
           	 			<div class="search">
						  <form>
							   <input type="text" value="">
							   <input type="submit" value="">
						  </form>
					    </div>
           	 		</div>
           	 		<div class="col-md-4 footer_grid">
           	 			<h4>Twitter Feed</h4>
           	 			<div class="footer-list">
						 <ul>
							<li class="list_top"><i class="fa fa-twitter twt"></i>
							<p>Lorem ipsum <span class="yellow"><a href="#">consectetuer</a></span>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatu</li></p>
							<li><i class="fa fa-twitter twt"></i>
							<p>Lorem ipsum <span class="yellow"><a href="#">consectetuer</a></span>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatu</li></p>
		                 </ul>
					    </div>
           	 		</div>
           	 		<div class="col-md-4 footer_grid">
           	 			<h4>Our Address</h4>
           	 			<div class="company_address">
				     	        <p>500 Lorem Ipsum Dolor Sit,</p>
						   		<p>22-56-2-9 Sit Amet, Lorem,</p>
						   		<p>USA</p>
				   		<p>Phone:(00) 222 666 444</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email: <span><a href="mailto:info@mycompany.com">info(at)mycompany.com</a></span></p>
				   		</div>
				      <ul class="socials" >
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      </ul>
           	 		</div>
           	 		<div class="clearfix"></div>
           	     </div>
           	  </div>
              <div class="footer_bottom">
		           <div class="copy_right">
						<p>&copy; 2013 All Rights Reseverd Designed by <a href="http://w3layouts.com/">W3layouts</a> </p>
				   </div>
				   <div class="footer_nav">
				   	 <ul>
				   	 	<li><a href="{{ path('homepage') }}">{{ 'menu.home'|trans({},"AppBundle") }}</a></li>
				   	 	<li><a href="{{ path('contact') }}">{{ 'menu.contacto'|trans({},"AppBundle") }}</a></li>
				   	 </ul>
				    </div>
				  <div class="clearfix"></div>
			  </div>
	    </div>
    </div>
{% endblock footer %}
