{% block tipo_habitacion_widget %}

    {{ form_errors(form) }}

    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_row(form.translations) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.tarifa) }}
                {{ form_row(form.menores) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.porcentajeDescuento) }}
                {{ form_row(form.cantidad) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.adultos) }}
            </div>
        </div>    
    </fieldset>
    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'SistemaHotelBundle:Form:form-imagenes.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
{% endblock %}