{% import "SistemaHotelBundle:Form:macro-imagen.html.twig" as macrosImagen %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4><i class="fa fa-clock-o">&nbsp;Imagenes</i></h4>&nbsp;
        <a id="add_link" class="btn btn-info">
            <i class="fa fa-plus">&nbsp;Agregar</i>
        </a>
    </div>
    <div class="panel-body">
        <div class="row"> 
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label>Nombre</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <label>Imagen File</label>
            </div>
        </div>         
        <div data-prototype="{{ macrosImagen.prototipoImagen(form.imagenes.vars.prototype)|e }}" class="collection">
            {% for key, imagen in form.imagenes %}
                {% if key == 0 %}
                    {{ macrosImagen.prototipoImagen(imagen, true) }}
                {% else %}
                    {{ macrosImagen.prototipoImagen(imagen, null) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
