{% macro prototipoImagen(entity,deleteBtn) %}
    <div class="row rowremove"> 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            {{ form_widget(entity.translations) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <br><br>
            {{ form_widget(entity.imagenFile) }}
        </div>

        {% if deleteBtn is null %}
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">    
                <br><br>
                <a class="delete_link btn btn-mini btn-danger" href="javascript:;">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}