{% if (secciones is defined) %}
    {% for seccion in secciones %}
        <li>
            <a href="{{ path('seccion_view', {'ruta': seccion.ruta}) }}">
            {{ seccion.titulo }}
            </a>
        </li>
    {% endfor %}
{% endif %}
