{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}
    {% form_theme form 'SistemaHotelBundle:Form:form-tipoHabitacion.html.twig' %}
    {{ form(form) }}
   
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/collection.js') }}"></script>
{% endblock %}
