{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
                {% for key,traduccion in entity.translations %}
                    <!-- Nav tabs -->
                    <li role="presentation" class="{%if key=="es"%}active{%endif%}">
                        <a href="#traducion{{key}}" aria-controls="home" role="tab" data-toggle="tab">
                            {{traduccion.locale}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {% for key,traduccion in entity.translations %}
                    <div role="tabpanel" class="tab-pane {%if key=="es"%}active{%endif%}" id="traducion{{key}}">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="control-label">
                                    {{ 'seccion.fields.titulo'|trans({}, 'SistemaAdministracionBundle') }}
                                </label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{traduccion.titulo}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="control-label">
                                    {{ 'seccion.fields.titulo_del_menu'|trans({}, 'SistemaAdministracionBundle') }}
                                </label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{traduccion.tituloMenu}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="control-label">
                                    {{ 'seccion.fields.descripcion'|trans({}, 'SistemaAdministracionBundle') }}
                                </label>
                                <div class="well">
                                    <p>
                                        {{traduccion.descripcion|raw}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for key, field in config.fieldsshow %}
                    <div class="{% if field.class is defined %}{{ field.class }}{% else %}col-lg-12 col-md-12 col-sm-12{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        {% if field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ attribute(entity, field.name)|date(field.date) }}
                                </span>
                            </div>
                        {% elseif field.type in ['boolean'] %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ isActive(attribute(entity, field.name)) }}
                                </span>
                            </div>
                        {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                            {% set many_entity = attribute(entity, field.name) %}
                            <div class="well">
                                <span class="input-xlarge uneditable-input">
                                    {% for key, field_many in many_entity %}
                                        {{ field_many }}
                                        {% if field.separator is defined %}
                                            {{ field.separator|raw }}
                                        {% else %}
                                            |
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        {% elseif field.type in ['text', 'text_html'] %}
                            <div class="well">
                                {% if field.type == 'text_html' %}
                                    {{ attribute(entity, field.name)|raw }}
                                {% else %}
                                    {{ attribute(entity, field.name) }}
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {% if field.type == 'string_html' %}
                                        {{ attribute(entity, field.name)|raw }}
                                    {% else %}
                                        {{ attribute(entity, field.name) }}
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    {% if field.closerow is defined %}
                    </div>
                    <br>
                    <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <div class="row"></div>
            <label>Imagenes</label>
            <div class="row">
            {% for images in entity.imagenes %}
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ vich_uploader_asset(images, 'imagenFile') }}" />
                </a>
              </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% block buttonsbelow %}
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                    {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
        </div>
    {% endblock %}
{% endblock %}
