{% extends 'AppBundle::layout.html.twig' %}

{% block page %}
	 <div class="reservation_banner">
		<div class="main_title">About</div>
		<div class="divider"></div>
	 </div>
       <div class="main"> 
         <div class="reservation_top">
           <div class="container">          	 
	 		 <div class="about">
	 		 	<h2>Our Philosophy</h2>
	 		 	<h3><a href="#">Duis autem vel eum iriure dolor in hendrerit </a></h3>
	 		 	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod </p>
	 		 	<a href="#" title="Online Reservation" class="btn btn-primary btn2 btn-normal btn-inline " target="_self">Read More</a>
	 		 </div>
	       </div>
	     </div>
          <div class="staff">
            <div class="container">
            	<h2 class="staff_head">Our Staff</h2>
		       	<div class="row text-center">
		       		<div class="col-md-3 staff_grid">
		       			<img src="{{ asset('bundles/app/images/s1.jpg') }}" class="img-responsive" alt=""/>
		       			<h3><a href="#"> Mirum notare</a></h3>
		       			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat</p>
		       		</div>
		       		<div class="col-md-3 staff_grid">
		       			<img src="{{ asset('bundles/app/images/s2.jpg') }}" class="img-responsive" alt=""/>
		       			<h3><a href="#"> Mirum notare</a></h3>
		       			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat</p>
		       		</div>
		       		<div class="col-md-3 staff_grid">
		       			<img src="{{ asset('bundles/app/images/s3.jpg') }}" class="img-responsive" alt=""/>
		       			<h3><a href="#"> Mirum notare</a></h3>
		       			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat</p>
		       		</div>
		       		<div class="col-md-3 staff_grid">
		       			<img src="{{ asset('bundles/app/images/s1.jpg') }}" class="img-responsive" alt=""/>
		       			<h3><a href="#"> Mirum notare</a></h3>
		       			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat</p>
		       		</div>
		       	</div>
		     </div>
	       </div>
	       <div class="reservation_top">
            <div class="container">          	 
	 		   <h3 class="hist">Our History</h3>
	 		  	<div class="row">
	 		  		<div class="col-sm-6">
	 		  			<img src="{{ asset('bundles/app/images/h1.jpg') }}" class="img-responsive" alt=""/>
	 		  		</div>
	 		  		<div class="col-sm-6 history_grid">
	 		  			<h3><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl</a></h3>
	 		  			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option </p>
	 		  			<a href="#" title="Online Reservation" class="btn btn-primary btn2 btn-normal btn-inline " target="_self">Read More</a>
	 		  		</div>
	 		    </div>
	       </div>
	    </div>
{% endblock %}