{% extends 'AppBundle::layout.html.twig' %}

{% block page %}
	<div id="slider">
	  <div><img src="{{ asset('bundles/app/images/2.jpg') }}" class="img-responsive" alt="img01"/></div>
	  <div><img src="{{ asset('bundles/app/images/1.jpg') }}" class="img-responsive" alt="img02"/></div>
	</div>
        <div class="main">        	
         <div class="container">          	 
	 		 <div class="row grids text-center">
				 <div class="col-md-4">
					<div class="view view-tenth">
					      <a href="single.html">
						    <div class="inner_content clearfix">
								<div class="product_image">
								<img src="{{ asset('bundles/app/images/pic1.jpg') }}" class="img-responsive" alt=""/>
								<div class="label-product">
                                <span class="new">From 150$</span> </div>
								<div class="mask" >
			                        <h2>Room with one Bedroom</h2>
			                        <h3>A wonderful serenity has taken possession of my entire soul</h3>
			                        <div class="info"><i class="fa fa-search-plus"></i> </div>
			                    </div>
			                  	</div>
			                </div>
				            </a> 
				       </div>
				       <div class="product_container wow bounceIn" data-wow-delay="0.4s">
						  <h3><a href="#">Room with one Bedroom</a></h3>
					      <div class="underheader-line"></div>
					      <ul class="person">
					      	<h4>Max Person:</h4>
					      	<li><i class="fa fa-male"> </i></li>
					      	<li><i class="fa fa-male"> </i></li>
					      	<li><i class="fa fa-male"> </i></li>
					      </ul>
					      <p>Beds:1 Single Bed</p>
				       </div>		
		            </div>
				    <div class="col-md-4">
					  <div class="view view-tenth">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							 <div class="product_image">
								<img src="{{ asset('bundles/app/images/pic3.jpg') }}" class="img-responsive" alt=""/>
								<div class="label-product">
                                <span class="new">From 160$</span> </div>
								<div class="mask">
			                        <h2>Family Spacious Room</h2>
			                        <h3>A wonderful serenity has taken possession of my entire soul</h3>
			                         <div class="info"><i class="fa fa-search-plus"></i> </div>
			                    </div>
			                  	</div>
			                   </div>
				            </a> 
				       </div>
				       <div class="product_container wow bounceIn" data-wow-delay="0.4s">
						  <h3><a href="#">Room with two Bedroom</a></h3>
					      <div class="underheader-line"></div>
					     <ul class="person">
					      	<h4>Max Person:</h4>
					      	<li><i class="fa fa-male"> </i></li>
					      	<li><i class="fa fa-male"> </i></li>
					      	<li><i class="fa fa-male"> </i></li>
					      </ul>
					      <p>Beds:2 Single Beds</p>
				       </div>		
		            </div>
				    <div class="col-md-4">
					   <div class="view view-tenth">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="{{ asset('bundles/app/images/pic2.jpg') }}" class="img-responsive" alt=""/>
								<div class="label-product">
                                <span class="new">From 150$</span> </div>
								<div class="mask">
			                        <h2>Room with one Bedroom</h2>
			                        <h3>A wonderful serenity has taken possession of my entire soul</h3>
			                         <div class="info"><i class="fa fa-search-plus"></i> </div>
			                    </div>
			                    </div>
			                  </div>
				            </a> 
				       </div>
				       <div class="product_container wow bounceIn" data-wow-delay="0.4s">
						  <h3><a href="#">King Size Bedroom</a></h3>
					      <div class="underheader-line"></div>
					     <ul class="person">
					      	<h4>Max Person:</h4>
					      	<li><i class="fa fa-male"> </i></li>
					      	<li><i class="fa fa-male"> </i></li>
					      	<li><i class="fa fa-male"> </i></li>
					      </ul>
					      <p>Beds:3 Single Beds</p>
				       </div>		
		            </div>
			 </div>	 
          </div>
          <div class="reservation wow fadeInLeft" data-wow-delay="0.4s" id="work">
          	<div class="container">
          		<div class="row">
          			<div class="col-md-9">
          				<div id="main-reservation-text"><h3>Call us <span>+1 2547 487 8974</span> or made reservation right now!</h3>
					       <p>vestibulum eu euismod quam nullam at accumsan orci aenean ullamcorper nulla ut sapien ultrices dignissim</p>
				        </div>
          			</div>
          			<div class="col-md-3">
          			  <a href="reservation.html" title="Online Reservation" class="btn btn-primary btn-normal btn-inline " target="_self">Online Reservation</a>
          			</div>
          		</div>
          	</div>
          </div>
          <div class="content-bottom wow fadeInLeft" data-wow-delay="0.4s" id="work">   
            <div class="container">   
        	    <div class="row">
				    <div class="col-md-8">
				     	<div class="welcome_desc">
				       		<h3>Visitor Experienced</h3>
				            <div class="course_demo">
						        <ul id="flexiselDemo3">	
									<li>
										<img src="{{ asset('bundles/app/images/v1.jpg') }}" class="img-responsive" />
										<div class="desc">
											<h3>Lorem Ipsum</h3>
											<p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
										</div>
									</li>
									<li>
										<img src="{{ asset('bundles/app/images/v2.jpg') }}" class="img-responsive" />
										<div class="desc">
											<h3>Lorem Ipsum</h3>
											<p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
										</div>
									</li>
									<li>
										<img src="{{ asset('bundles/app/images/v3.jpg') }}" class="img-responsive" />
										<div class="desc">
											<h3>Lorem Ipsum</h3>
											<p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
										</div>
									</li>
									<li>
										<img src="{{ asset('bundles/app/images/v4.jpg') }}" class="img-responsive" />
										<div class="desc">
											<h3>Lorem Ipsum</h3>
										<p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
										</div>
									</li>
									<li>
										<img src="{{ asset('bundles/app/images/v5.jpg') }}" class="img-responsive" />
										<div class="desc">
											<h3>Lorem Ipsum</h3>
											<p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
										</div>
									</li>		    	  	       	   	    	
								</ul>
	            			</div>
	       				</div>
				    </div>
				 <div class="col-md-4 middle_right">
					<h3>Info</h3>
					<ul id="general-info">
						<li><i class="fa fa-clock-o"> </i>Check-in: 14:00; Check-out: 12:00</li>
						<li><i class="fa fa-globe"> </i>Free Wi-Fi Internet in Rooms</li>
						<li><i class="fa fa-cutlery"> </i>In Room Dining Available from <br>06:00pm to 10:30pm</li>
						<li><i class="fa fa-truck"> </i>Local Self Parking: $20-$25 per night</li>
						<li><i class="fa fa-picture-o"> </i>Walking Distance to Wall Street, Battery Park and Brooklyn Bridge</li>
					</ul>	        
				  </div>
			</div>
		</div>
		</div>
		       <div class="company_logos wow bounceIn" data-wow-delay="0.4s">
		          	<h3>Our Gallery</h3>
		          	 <div class="ocarousel_slider">  
	      				<div class="ocarousel example_photos" data-ocarousel-perscroll="3">
			                <div class="ocarousel_window">
			                   <a href="#" title="Hp"> <img src="{{ asset('bundles/app/images/g1.jpg') }}" class="img-responsive" alt="" /></a>
			                   <a href="#" title="Bosch"><img src="{{ asset('bundles/app/images/g2.jpg') }}" class="img-responsive" alt="" /></a>
			                   <a href="#" title="El pso"><img src="{{ asset('bundles/app/images/g3.jpg') }}" class="img-responsive" alt="" /></a>
			                   <a href="#" title="Print X Press"><img src="{{ asset('bundles/app/images/g4.jpg') }}" class="img-responsive" alt="" /></a>
			                   <a href="#" title="Arcelo mittal"><img src="{{ asset('bundles/app/images/g5.jpg') }}" class="img-responsive" alt="" /></a>
			                    <a href="#" title="Goldware IT Services"><img src="{{ asset('bundles/app/images/g6.jpg') }}" class="img-responsive" alt="" /></a>
			                   <a href="#" title="Lucent Technologies"><img src="{{ asset('bundles/app/images/g7.jpg') }}" class="img-responsive" alt="" /></a>
			                   <a href="#" title="ge"><img src="{{ asset('bundles/app/images/g8.jpg') }}" class="img-responsive" alt="" /></a>
			                </div>
			               <span>           
			                <a href="#" data-ocarousel-link="left" class="prev"><i class="fa fa-angle-left"></i> </a>
			                <a href="#" data-ocarousel-link="right" class="next"> <i class="fa fa-angle-right"></i></a>
			               </span>
					   </div>
				     </div>      		
              </div>
        </div>
   </div>
{% endblock page %}