{% extends 'AppBundle::layout.html.twig' %}

{% block page %}
    <div class="reservation_top">
        <div class="container">
            <div class="row text-center">
                <h2>{{ entity.titulo }}</h2>
            </div><br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ entity.descripcion|raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="company_logos wow bounceIn" data-wow-delay="0.4s">
        <h3>Fotos de seccion</h3>
        <div class="ocarousel_slider">  
            <div class="ocarousel example_photos" data-ocarousel-perscroll="3">
                <div class="ocarousel_window">
                    <p></p>
                    {% for imagen in entity.imagenes %}
                        <img src="{{ asset('imagenes/secciones/' ~ imagen.imagen) }}" class="img-responsive" 
                             alt="{{ imagen.nombre }}" 
                             width="300" height="200" />
                    {% endfor %}
                </div>
                <span>           
                    <a href="#" data-ocarousel-link="left" class="prev"><i class="fa fa-angle-left"></i></a>
                    <a href="#" data-ocarousel-link="right" class="next"> <i class="fa fa-angle-right"></i></a>
                </span>
            </div>
        </div>      		
    </div>
{% endblock page %}